goldmark:
  extensions:
    definitionList: true
    footnote: true
    linkify: true
    linkifyProtocol: https
    strikethrough: true
    table: true
    task List: true
    typographer:
      apostrophe: '&rsquo;'
      disable: false
      ellipsis: '&hellip;'
      emDash: '&mdash;'
      enDash: '&ndash;'
      leftAngleQuote: '&laquo;'
      leftDoubleQuote: '&ldquo;'
      leftSingleQuote: '&lsquo;'
      rightAngleQuote: '&raquo;'
      rightDoubleQuote: '&rdquo;'
      rightSingleQuote: '&rsquo;'
  parser:
    attribute:
      block: false
      title: true
    autoHeadingID: true
    autoHeadingIDType: github
    wrapStandAloneImageWithinParagraph: true
  renderer:
    hardWraps: false
    unsafe: true
    xhtml: false