<!-- Footer section -->
<footer class="bg-gray-900">
    <div class="max-w-md px-4 py-8 mx-auto overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
            {{ range site.Menus.footer }}
            <div class="px-5 py-2">
                <a href="{{ .URL | absLangURL }}" class="text-base text-gray-400 hover:text-gray-300">{{ .Name }}</a>
            </div>
            {{ end }}
        </nav>
        <div class="flex justify-center mt-6 space-x-6">
            {{ if .Site.Params.Social_media.Linkedin.Enabled }}
            <a href="{{ $.Site.Params.Social_media.Linkedin.Url }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">LinkedIn</span>
                <svg class="w-6 h-6">
                    <use href="#icon-linkedin"></use>
                </svg>
            </a>
            {{ end }}
            {{ if .Site.Params.Social_media.Facebook.Enabled }}
            <a href="{{ $.Site.Params.Social_media.Facebook.Url }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">Facebook</span>
                <svg class="w-6 h-6">
                    <use href="#icon-facebook"></use>
                </svg>
            </a>
            {{ end }}
            {{ if .Site.Params.Social_media.Instagram.Enabled }}
            <a href="{{ $.Site.Params.Social_media.Instagram.Url }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">Instagram</span>
                <svg class="w-6 h-6">
                    <use href="#icon-instagram"></use>
                </svg>
            </a>
            {{ end }}
            {{ if .Site.Params.Social_media.Twitter.Enabled }}
            <a href="{{ $.Site.Params.Social_media.Twitter.Url }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">Twitter</span>
                <svg class="w-6 h-6">
                    <use href="#icon-twitter"></use>
                </svg>
            </a>
            {{ end }}
            {{ if .Site.Params.Social_media.Bluesky.Enabled }}
            <a href="{{ $.Site.Params.Social_media.Bluesky.Url }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-300">
            <span class="sr-only">Bluesky</span>
                <svg class="w-6 h-6">
                    <g transform="translate(0,2)">
                        <use href="#icon-bluesky"></use>
                    </g>
                </svg>
            </a>
            {{ end }}
            {{ if .Site.Params.Social_media.Github.Enabled }}
            <a href="{{ $.Site.Params.Social_media.Github.Url }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">GitHub</span>
                <svg class="w-6 h-6">
                    <use href="#icon-github"></use>
                </svg>
            </a>
            {{ end }}
            {{ if .Site.Params.social_franchising.buy_me_a_coffee.enabled }}
            <a href="{{ $.Site.Params.Social_franchising.Buy_me_a_coffee.Url }}" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-gray-300">
                <span class="sr-only">Buy Me a Coffee</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <use href="#icon-buymeacoffee"></use>
                </svg>
            </a>
            {{ end }}
        </div>

        <p class="mt-6 text-base text-center text-gray-400">
            &copy; {{ with .Site.Params.copyright_year }}{{ . }}{{ else }}{{ now.Format "2006" }}{{ end }}
            {{ .Site.Title }}. All rights reserved.
        <p class="mt-2 text-base text-center text-gray-400">Theme by <a
               href="https://nusserstudios.com" class="hover:underline hover:text-primary-600">
               <span class="font-black uppercase">Nusser</span> <span class="font-light uppercase">Studios.</span></a> | Modified by Matthew Miller.
        </p>
    </div>
</footer>